body {
    max-width: 1100px;
}

nav {
    position: fixed;
}

.width {
    max-width: 100%;
}

.height {
    height: 3.5rem;
}

.bg-blue {
    width: 100px;
    height: 40%;
    background-color: rgb(24, 114, 229);
}

.red-top {
    background-color: rgb(24, 114, 229);
    height: 320px;
    padding-left: 4rem;
    padding-top: 5rem;
}

.prossime-classi {
    margin: 1rem 1rem 1rem 4rem;
    height: 406px;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding: 0rem 1rem;
}

.fa-pen {
    font-size: 10px;
}

img {
    width: 20px;
}

.class {
    font-size: 10px;
}

.process {
    font-size: 12px;
}

.faq {
    margin: 1rem 1rem 1rem 4rem;
    height: 200px;
    border-radius: 7px;
    max-width: 100%;
}

.new {
    color: white;
}

form {
    width: 440px;
}

h3 {
    display: inline-block;
}

.plane-blaze {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    line-height: 15px;
    height: 18px;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.bg {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 20px;
    width: 40px;
    text-align: center;
    line-height: 15px;
}

.bg-plus {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 15px;
}

.fa-angles-right {
    color: white;
    font-size: 15px;
}

.app {
    color: white;
    font-size: 10px;
}

.plane {
    color: white;
    font-size: 10px;
}

.todo {
    margin: 1rem 1rem 1rem 4rem;
    height: 200px;
    border-radius: 10px;
    max-width: 100%;
}

.kickoff {
    width: 100px;
}

.utenti-attivi {
    border: 1px solid lightgray;
    margin: 1rem 1rem 1rem 4rem;
    height: 450px;
    border-radius: 10px;
    padding: 1rem;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    left: 0;
    top: 66px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}

.sticky {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.padding {
    padding: 0rem 1rem;
    color: white;
}

.padding-bottom {
    padding-bottom: 38rem;
}

.fa-bell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    padding-left: 2rem;
    padding-top: 1rem;
}

.font-size {
    width: 200px;
}

p {
    font-size: 10px;
}

@media  screen and (min-width: 576px) {
    body {
        max-width: 768px;
    }
}
